#pro
{
    position:relative;
}
#about
{
    position:relative;
}
body
{
font-family: 'Monserrat', sans-serif;
    text-align: center;
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o175wb');
  src:  url('fonts/icomoon.eot?o175wb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o175wb') format('truetype'),
    url('fonts/icomoon.woff?o175wb') format('woff'),
    url('fonts/icomoon.svg?o175wb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.icon-home3:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-user:before {
  content: "\e971";
}
.icon-cog:before {
  content: "\e994";
}
.icon-stats-dots:before {
  content: "\e99b";
}
h1, h2
{
    font-family: 'Stoke', serif;
    font-size: 2em;
}
#head
{
    position: relative;
}
#content{
    position: relative;
}
/*Body*/
header
{
    text-align: center;
    background-color: #00006C;
    color: white;
}
.nav {
	padding:5px;
	overflow: hidden;
}

.nav li {
	display: inline;
	text-align: center;
	width: 50%;
	float: left;
    font-size: 1em;
    
}
ul li a:link {
    color: white;
    text-decoration: none;
}

ul li a:visited {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: black;
    text-decoration: none;
}
img
{
    width: 30%;

}

.wrapper 
{
  display: block;
    position: relative;
}

.project
{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin: 1em;
}

/*Tablet Screen*/
@media (min-width: 550px)
{
    .wrapper
    {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 2em;
        justify-content: space-between;

    }
    .project
    {
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      font-size: 150%;
    }
    img
    {
        width:25%;
    }
    h1
    {
        font-size: 2.25em;
    }
    .nav li
    {
        font-size: 1.5em;
    }
}


/*Desktop Screen*/
@media (min-width: 900px)
{
    .wrapper
    {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 2em;
        justify-content: space-between;
    }
    .project
    {
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      font-size: 150%;
    }  
    img
    {
        width:20%;
    }
        h1
    {
        font-size: 2.5em;
    }

}