body
{
font-family: 'Monserrat', sans-serif;
    text-align: center;
}
h1, h2
{
    font-family: 'Stoke', serif;
    font-size: 2em;
}
header
{
    text-align: center;
    background-color: #00006C;
    color: white;
}
.nav {
	padding:5px;
	overflow: hidden;
}

.nav li {
	display: inline;
	text-align: center;
	width: 50%;
	float: left;
    font-size: 1em;
    
}
ul li a:link {
    color: white;
    text-decoration: none;
}

ul li a:visited {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: black;
    text-decoration: none;
}
img
{
    width: 30%;

}
a
{
    text-decoration: none;
    color: white;
}


.wrapper 
{
  display: block;
}

.project
{
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin: 1em;
}
.hover
{
    display:none;
}
.project:hover .hover
{
    display: block;

}

/*Tablet Screen*/
@media (min-width: 550px)
{
    .wrapper
    {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-gap: 2em;
        justify-content: space-between;
    }
    .project
    {
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      font-size: 150%;
    }
    img
    {
        width:25%;
    }
    h1
    {
        font-size: 2.25em;
    }
    .nav li
    {
        font-size: 1.5em;
    }
}


/*Desktop Screen*/
@media (min-width: 900px)
{
    .wrapper
    {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 2em;
        justify-content: space-between;
    }
    .project
    {
      background-color: #444;
      color: #fff;
      border-radius: 5px;
      font-size: 150%;
    }  
    img
    {
        width:20%;
    }
        h1
    {
        font-size: 2.5em;
    }

}